@model OrderViewModel

<h2>Оплатить</h2>
<p>Введите свои данные:</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <h3>Адрес получателя</h3>
    <div class="form-group">
        <label>Имя:</label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Адрес:</label><input asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label>Город:</label><input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Страна:</label><input asp-for="Country" class="form-control" />
    </div>
    <div class="checkbox">
        <label>
            <input asp-for="GiftWrap" /> Подарочная упаковка
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Отправить заказ" />
    </div>
</form>
